/* Header  */
#titre {
	padding-top: 1%;
	float: left;
	text-align: left;
}

#barreTitre {
	margin-top: auto;
}

#logo {
	width: 9%;
}

.liens {
	margin-top: 1em;
	top: 40%;
	text-align: center;
	height: 2%;
	padding: 1%;
	font-size: 150%;
	background-color: #f8ddbb;
  	box-shadow: 5px 5px 5px black;
  	border-radius: 25px;
}

#sousTitre {
	position: absolute;
	top: 15%;
	font-family: Segoe Print, arial, serif;
	color: #661900;
	padding-left: 4%;
	font-size: 180%;
}

h1 {
	color : green;
	font-family: Segoe Print, arial, serif;
	font-size: 300%;
}

a {
	font-family: Segoe Print, arial, serif;
	color: black;
	text-decoration: none;
}

hr {
	width: 90%;
	border-color: black;
}

/* Menu deroulant */

.menu-deroulant > a:after{
	content: 'â¯';
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}

.sous-menu {
	width: 100%;
	text-align: left;
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}

.sous-menu > li > a {
	height: 50px;
	text-align: center;
	width: 100%;
	align-items: center;
	display: flex;
}

@keyframes rotationFleche {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(90deg);
	}
}

.menu-deroulant:hover > a:after{
	animation: rotationFleche 0.2s linear forwards;
}

/* Global */
body {
	background-color : #F6E6CF;
}

.texte {
	font-family: Segoe Print, arial, serif;
	padding: 2% 5% 2% 5%;
	font-size: 150%;
}

/* Index  */

#presentation {
	text-align: center;
	padding-top: 3%;
}

#image1Index {
	width: 70%;
	height: 70%;
	border-radius: 15px;
}

#image2Index {
	padding-left: 33%;
	width: 30%;
	height: 30%;
	border-radius: 15px;
}

/* Profil */

#image1Profil {
	width: 20%;
	height: 20%;
}

/* Massage  */

#image1Massage {
	width: 35%;
	height: 35%;
	border-radius: 25px;
}

#image2Massage {
	width: 25%;
	height: 25%;
	margin-right: 5%;
	float: right;
}

#image3Massage {
	width: 40%;
	height: 40%;
	margin-left: 60%;
}

/* Massage Shinzu  */

#image1MassageShinzu {
	width: 35%;
	height: 35%;
	border-radius: 25px;
	float: left;
}

#image2MassageShinzu {
	margin-top: 3%;
	margin-left: 15%;
}


#image3MassageShinzu {
	width: 25%;
	height: 25%;
	border-radius: 25px;
	float: right;
}

/* Massage HappyZen */

#image0HappyZen {
	width: 15%;
	margin-left: 40%;
}

#image1HappyZen {
	width: 10%;
}

#image2HappyZen {
	width: 10%;
}

#image3HappyZen {
	width: 10%;
}

#image4HappyZen {
	width: 8%;
}

#imgHappyZen {
	display: flex;
	justify-content: space-around;
}

/* Tarif  */

#image1Tarif {
	width: 5%;
}

#image3Tarif {
	width: 5%;
}

#image5Tarif {
	width: 5%;
}

/* Contact  */

textarea, button, fieldshet {
  border-radius: 10px;
  font-size: 100%;
}

input	{
	border: 0px;
	width: 5%;
	height: 1.5em;
}

button {
	font-family: Segoe Print, arial;
	width: 15%;
}

.textfield {
	font-family: Segoe Print, arial;
	padding-left: 8px;
	width: 50%;
}

#message {
	font-family: Segoe Print, arial;
	padding-left: 8px;
}

#image1Contact {
	width: 36.2%;
	float: right;
	border-radius: 25px;
}

#image2Contact {
	width: 42%;
	float: right;
	border-radius: 25px;
}

/* Just */

#image1Just {
	width: 30%;
}

#image2Just {
	object-position: right;
	margin-left: 20%;
	width: 35%;
}

/* Astuce */

#image1Astuce {
	width: 30%;
}
